apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: solar-system
  name: solar-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: solar-system
  strategy: {}
  template:
    metadata:
      labels:
        app: solar-system
    spec:
      containers:
      - image: spisey/solar-system:25-9eb17b823603a2322fdbacb444bf2182f0a80c59
        name: solar-system
        ports: 
        - containerPort: 80
        envFrom:
        - secretRef:
            name: mysecret
      imagePullSecrets:
      - name: regcred
