apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: solar-system
  name: solar-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: solar-system
  strategy: {}
  template:
    metadata:
      labels:
        app: solar-system
    spec:
      containers:
      - image: spisey/solar-system:21-b7d18bd1b2699c64cb1ac66e2ed9a7c858e384ca
        name: solar-system
        ports: 
        - containerPort: 80
